body {
  background-color: rgb(207, 207, 207);
  font-family: 'lato', sans-serif;
}

.todoHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  border-bottom: 1px solid rgb(212, 212, 212);
}

.inputField {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgb(212, 212, 212);
}

.todo {
  max-width: 600px;
  background-color: #ffff;
  margin: 150px auto;
  border-radius: 8px;
}

.add {
  width: 95%;
  margin: 0 auto;
  border: none;
  padding: 10px;
}

i {
  font-size: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.fa-solid .fas {
  font-weight: 900;
  margin-top: 5px;
}

.task {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid rgb(212, 212, 212);
}

.description {
  font-size: 20px;
  flex-grow: 1;
}

:focus {
  outline: none;
}

.dots {
  font-size: 20px;
  margin-right: 10px;
}

.clearAllC {
  height: 40px;
  border: none;
  background-color: rgb(235, 235, 235);
  font-size: 15px;
  width: 100%;
}
